@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  position: relative;
  background-color: #f7f7f9;
  overflow-x: hidden;
}

body .container {
  width: 84vw;
  height: 100%;
  padding: 5vh 8vw;
}

body .container .wrapper {
  width: 84vw;
  height: 121px;
}

body .container .header {
  border-bottom: 1px solid #b3bac9;
  margin-bottom: 2vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
}

body .container .header .header__titles {
  width: 70%;
}

body .container .header .header__titles h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #444c5e;
  margin-top: 1rem;
}

body .container .header .header__buttons {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .header .header__buttons button {
  height: 2.2rem;
  margin-top: 1rem;
  padding: 0.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f9fafb));
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%);
  border: 1px solid #d4d8e1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  font-style: normal;
  font-weight: 600;
  font-size: 70%;
  line-height: 18px;
  text-transform: uppercase;
  color: #697284;
  cursor: pointer;
}

body .container .header .header__buttons .header__buttons__download i {
  font-size: 0.8rem;
}

body .container .header .header__buttons .header__buttons__download span {
  padding: 0 10px;
  font-size: 0.8rem;
}

body .container .header .header__buttons .header__buttons__pink {
  margin-left: 0.5rem;
  background: #fd0087;
  border-radius: 4px;
  color: #ffffff;
  white-space: nowrap;
  font-size: 0.8rem;
}

body .container .totals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .container .totals .totals__box {
  background-color: #ffffff;
  width: 24%;
  min-width: 120px;
  max-width: 380px;
  height: auto;
  margin-bottom: 2%;
  min-height: 121px;
  border: 1px solid #d4d8e1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 1.5rem;
}

body .container .totals .totals__box .totals__title {
  color: #697284;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 1rem;
}

body .container .totals .totals__box i {
  font-size: 20px;
  margin-right: 8px;
}

body .container .totals .totals__box .totals__results {
  color: #222232;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  white-space: nowrap;
}

body .container .totals .totals__box small {
  color: #9da5b7;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
}

body .container .results {
  margin-bottom: 2vh;
  background-color: #ffffff;
  border: 1px solid #d4d8e1;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .results .results__filters {
  width: 96%;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .results .results__filters .results__filter {
  background: #ffffff;
  border: 1px solid #d4d8e1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem;
  color: #697284;
}

body .container .results .results__filters .results__filter__search {
  width: 30%;
  background-image: url(./../images/icon-buscar.png);
  background-size: 20px;
  background-position: calc(100% - 5px);
  background-repeat: no-repeat;
}

body .container .results .results__filters .results__filter__search::-webkit-input-placeholder {
  color: #d4d8e1;
}

body .container .results .results__filters .results__filter__search:-ms-input-placeholder {
  color: #d4d8e1;
}

body .container .results .results__filters .results__filter__search::-ms-input-placeholder {
  color: #d4d8e1;
}

body .container .results .results__filters .results__filter__search::placeholder {
  color: #d4d8e1;
}

body .container .results .results__filters .results__filter__select {
  width: 16%;
}

body .container .results .results__filters .results__filter__date {
  color: #697284;
}

body .container .results .results__filters .results__filter__date::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
}

body .container .results .results__filters__mobile {
  display: none;
}

body .container .results .results__filters__mobile .results__filter {
  background: #ffffff;
  border: 1px solid #d4d8e1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem;
  color: #697284;
  width: 45%;
  margin-bottom: 0.5rem;
}

body .container .results .results__filters__mobile .results__filter__search {
  width: 100%;
}

body .container .results .results__filters__mobile .results__filter__search::-webkit-input-placeholder {
  color: #d4d8e1;
}

body .container .results .results__filters__mobile .results__filter__search:-ms-input-placeholder {
  color: #d4d8e1;
}

body .container .results .results__filters__mobile .results__filter__search::-ms-input-placeholder {
  color: #d4d8e1;
}

body .container .results .results__filters__mobile .results__filter__search::placeholder {
  color: #d4d8e1;
}

body .container .results .results__filters__mobile .results__filter__date {
  width: 100%;
}

body .container .results .results__filters__mobile .results__filter__date::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
}

body .container .results .results__info {
  width: 94%;
  padding: 0 3% 1% 3%;
}

body .container .results .results__info .results__column-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5% 0;
  border-bottom: 0.7px #d4d8e1 solid;
}

body .container .results .results__info .results__column-titles .results__column-title {
  width: 14%;
}

body .container .results .results__info .results__column-titles .results__column-title text {
  margin-right: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #697284;
}

body .container .results .results__info .results__column-titles .results__column-title i {
  font-size: 12px;
  line-height: 14px;
}

body .container .results .results__info .results__column-titles .results__column-title__course {
  width: 26%;
}

body .container .results .results__info .results__column-titles .results__column-title__customer {
  width: 18%;
}

body .container .results .results__info .results__items {
  width: 100%;
}

body .container .results .results__info .results__items .results__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5% 0;
  border: 0.7px #d4d8e1;
  border-style: solid none;
  height: 30px;
}

body .container .results .results__info .results__items .results__item .results__column-wrapper {
  width: 14%;
}

body .container .results .results__info .results__items .results__item .results__column-wrapper a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #04b2f3;
}

body .container .results .results__info .results__items .results__item .results__column-wrapper .results__item-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #697284;
}

body .container .results .results__info .results__items .results__item .results__column-wrapper .results__course-title-wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .results .results__info .results__items .results__item .results__column-wrapper .results__item-state {
  width: 106px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #222232;
  height: 20px;
  padding: 0.5% 6%;
}

body .container .results .results__info .results__items .results__item .results__column-wrapper .results__item-state__voucher {
  background-color: rgba(4, 178, 243, 0.3);
}

body .container .results .results__info .results__items .results__item .results__column-wrapper .results__item-state__paid {
  background-color: rgba(23, 230, 138, 0.3);
}

body .container .results .results__info .results__items .results__item .results__column-wrapper .results__item-state__pending {
  background-color: #eceef1;
}

body .container .results .results__info .results__items .results__item .results__column-wrapper .results__item-state__rejected {
  background-color: rgba(255, 69, 92, 0.4);
}

body .container .results .results__info .results__items .results__item .results__column-wrapper .icon-Menu-Tres-Puntos {
  color: #b3bac9;
  font-size: 20px;
}

body .container .results .results__info .results__items .results__item .results__column-wrapper .results__column-title__mobile {
  display: none;
}

body .container .results .results__info .results__items .results__item .results__column-wrapper__title {
  width: 26%;
}

body .container .results .results__info .results__items .results__item .results__column-wrapper__customer {
  width: 18%;
}

body .container .results .results__info .results__items .results__item .results__column-wrapper__profits {
  width: 10%;
}

body .container .results .results__info .results__items .results__item .results__column-wrapper__icon {
  width: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .results .results__info .results__items .results__item__last {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  body .container .header .header__titles {
    width: 100%;
  }
  body .container .header .header__buttons {
    width: 100%;
    max-width: 80vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body .container .header .header__buttons button {
    height: 2rem;
    padding: 0.3rem;
  }
  body .container .totals .totals__box {
    padding: 0.8rem;
    width: 47%;
    height: 7rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
  }
  body .container .results .results__filters {
    display: none;
  }
  body .container .results .results__filters__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0.5rem;
  }
  body .container .results .results__info .results__column-titles {
    display: none;
  }
  body .container .results .results__info .results__items .results__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 135px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .container .results .results__info .results__items .results__item .results__column-wrapper {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body .container .results .results__info .results__items .results__item .results__column-wrapper a {
    font-size: 12px;
  }
  body .container .results .results__info .results__items .results__item .results__column-wrapper .results__item-text {
    font-size: 12px;
  }
  body .container .results .results__info .results__items .results__item .results__column-wrapper .results__course-title-wrapper {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body .container .results .results__info .results__items .results__item .results__column-wrapper .results__item-state {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 12px;
    height: 20px;
    padding: 0.5% 6%;
  }
  body .container .results .results__info .results__items .results__item .results__column-wrapper .icon-Menu-Tres-Puntos {
    display: none;
  }
  body .container .results .results__info .results__items .results__item .results__column-wrapper .results__column-title__mobile {
    font-size: 10px;
    font-weight: bold;
    display: block;
  }
}

@media screen and (max-width: 576px) {
  body .container .totals .totals__box {
    padding: 0.5rem;
  }
  body .container .totals .totals__box .totals__title {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  body .container .totals .totals__box i {
    font-size: 15px;
    font-weight: 600;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  body .container .totals .totals__box .totals__results {
    font-size: 15px;
    font-weight: 600;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  body .container .totals .totals__box small {
    -ms-grid-row: 3;
    grid-row: 3;
    font-size: 10px;
    white-space: nowrap;
  }
}
/*# sourceMappingURL=styles.css.map */