@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

$main-grey: rgba(247, 247, 249, 1);
$magenta: rgba(253, 0, 135, 1);
$link-blue: rgba(4, 178, 243, 1);
// pills colors
$green: rgba(23, 230, 138, 0.3);
$pink: rgba(255, 69, 92, 0.4);
$grey: rgba(236, 238, 241, 1);
$blue: rgba(4, 178, 243, 0.3);
// text colors
$main-text: rgba(34, 34, 50, 1);
$secondary-text: rgba(105, 114, 132, 1);
$tertiary-text: rgba(157, 165, 183, 1);
$placeholder-text: rgba(212, 216, 225, 1);

$open-sans: "Open Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: $open-sans;
  position: relative;
  background-color: $main-grey;
  overflow-x: hidden;
}

body {
  .container {
    width: 100vw;
    height: 100%;
    padding: 5vh 5vw;
    .wrapper {
      width: 90vw;
      height: 121px;
    }
    .header {
      border-bottom: 1px solid #b3bac9;
      margin-bottom: 2vh;
      height: fit-content;
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 0;
      .header__titles {
        width: 70%;
        @media screen and (max-width: "768px") {
          width: 100%;
        }
        h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 30px;
          color: #444c5e;
          margin-top: 1rem;
        }
      }
      .header__buttons {
        width: 30%;
        display: flex;
        justify-content: end;
        align-items: center;
        @media screen and (max-width: "768px") {
          width: 100%;
          max-width: 80vw;
          justify-content: start;
        }
        button {
          height: 2.2rem;
          margin-top: 1rem;
          padding: 0.5rem;
          background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%);
          border: 1px solid #d4d8e1;
          box-sizing: border-box;
          border-radius: 3px;
          font-style: normal;
          font-weight: 600;
          font-size: 70%;
          line-height: 18px;
          text-transform: uppercase;
          color: #697284;
          cursor: pointer;
          @media screen and (max-width: "768px") {
            height: 2rem;
            padding: 0.3rem;
          }
        }
        .header__buttons__download {
          i {
            font-size: 0.8rem;
          }
          span {
            padding: 0 10px;
            font-size: 0.8rem;
          }
        }
        .header__buttons__pink {
          margin-left: 0.5rem;
          background: #fd0087;
          border-radius: 4px;
          color: #ffffff;
          white-space: nowrap;
          font-size: 0.8rem;
        }
      }
    }
    .totals {
      display: flex;
      height: fit-content;
      justify-content: space-between;
      margin-bottom: 2vh;
      flex-wrap: wrap;
      .totals__box {
        background-color: #ffffff;
        width: 24%;
        min-width: 120px;
        max-width: 380px;
        height: auto;
        margin-bottom: 2%;
        min-height: 121px;
        border: 1px solid #d4d8e1;
        box-sizing: border-box;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 1.5rem;
        .totals__title {
          color: $secondary-text;
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 20px;
          margin-bottom: 1rem;
        }
        i {
          font-size: 20px;
          margin-right: 8px;
        }
        .totals__results {
          color: $main-text;
          font-family: "Open Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 27px;
          white-space: nowrap;
        }
        small {
          color: $tertiary-text;
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 18px;
        }
        @media screen and (max-width: "768px") {
          padding: 0.8rem;
          width: 47%;
          height: 7rem;
          display: grid;
          grid-template-rows: 3;
        }
        @media screen and (max-width: "576px") {
          padding: 0.5rem;
          .totals__title {
            grid-row: 1;
          }
          i {
            font-size: 15px;
            font-weight: 600;
            grid-row: 2;
          }
          .totals__results {
            font-size: 15px;
            font-weight: 600;
            grid-row: 2;
          }
          small {
            grid-row: 3;
            font-size: 10px;
            white-space: nowrap;
          }
        }
      }
    }
    .results {
      margin-bottom: 2vh;
      background-color: #ffffff;
      border: 1px solid #d4d8e1;
      border-radius: 8px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .results__filters {
        width: 96%;
        padding: 2%;
        display: flex;
        justify-content: space-between;
        .results__filter {
          background: #ffffff;
          border: 1px solid #d4d8e1;
          box-sizing: border-box;
          border-radius: 4px;
          padding: 0.5rem;
          color: $secondary-text;
        }
        .results__filter__search {
          width: 25%;
          &::placeholder {
            color: $placeholder-text;
          }
        }
        .results__filter__select {
          width: 17%;
        }
        .results__filter__date {
          color: $secondary-text;
          &::-webkit-calendar-picker-indicator {
            filter: invert(0.5);
          }
        }
      }
      .results__filters__mobile {
        display: none;
        .results__filter {
          background: #ffffff;
          border: 1px solid #d4d8e1;
          box-sizing: border-box;
          border-radius: 4px;
          padding: 0.5rem;
          color: $secondary-text;
          width: 45%;
          margin-bottom: 0.5rem;
        }
        .results__filter__search {
          width: 100%;  
          &::placeholder {
            color: $placeholder-text;
          }
        }
        .results__filter__date {
          width: 100%;
          &::-webkit-calendar-picker-indicator {
            filter: invert(0.5);
          }
        }
      }
      .results__info {
        width: 94%;
        padding: 0 3% 1% 3%;
        .results__column-titles {
          display: flex;
          justify-content: space-between;
          .results__column-title {
            width: 14%;
            text {
              margin-right: 10px;
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 600;
              font-size: 13px;
              line-height: 18px;
              color: $secondary-text;
            }
            i {
              font-size: 13px;
              line-height: 18px;
            }
          }
          .results__column-title__course {
            width: 26%;
          }
          .results__column-title__customer {
            width: 18%;
          }
        }
      }
      .results__items {
        width: 100%;
        .results__item {
          display: flex;
          justify-content: space-between;
          span {
            a {
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 20px;
              text-decoration-line: underline;
              color: $link-blue;
            }
            .results__item-text {
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 20px;
              color: $secondary-text;
            }
            .results__item-state {
              width: 14%;
              border: 2px solid #FFFFFF;
              border-radius: 10px;
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 18px;
              text-align: center;
              color: $main-text;
            }
          }
        }
      }
      @media screen and (max-width: "768px") {
        .results__filters {
          display: none;
        }
        .results__filters__mobile {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 1rem;
        }
      }
    }
  }
}
